*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url(./images/ffilmbckg1.jpg) no-repeat fixed center;
}



.logo{
    height: 70px;
}
.text1{
    color: white;
    transition: 0.5s;
    margin-right: 20px;
}
.text1:hover{
    background: white;
    color:  rgb(0, 0, 0);
    border-radius: 20px;
    transition: 0.5s;
}

.h5{
    color: white;
    font-size: 27px;
}
p{
    color: white;
    font-size: 27px;
}
.navbar-nav{
    margin-right: 80px;
}
li{
    margin-right: 10px;
}
.search{
    color: blue;
    border-radius: 20px;
    border: 2px solid blue;
}
.search:hover{
    border: 2px solid white;
    background: blue;
    color: white;
    transition: 0.5s;
}
.search1{
    background: blue;
    color: rgb(88, 88, 88);
    border-radius: 20px;
    border: 2px solid white;
}
.search1:hover{
    border: 2px solid blue;
    background: white;
    color: rgb(88, 88, 88);
    transition: 0.5s;
}
.container1{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    display: flex;
    background: rgba(0, 0, 0,.8);
    opacity: 5;
}

.box1{
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 70px;
    width: 241px;
    height: 370px;
    background: #4d4d4d;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    text-decoration: none;
}
.container1 .box1 ::before{
    content: '';
    z-index: 1;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.container1 .box1:hover .box1-1::before{
    opacity: 1;
}
.box1:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0, 0, 0,.5);
}
.img1-1{
    width: 240px;
    height: 370px;
}

.container1 .box1 .content
{   
    position: -ms-page;
    font-size: 14px;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
}
.container1 .box1 .content .h1-1{
    margin-top: 150px;
    align-items: center;
    text-align: center;
    color: red;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 18px;
    opacity: 0;
    transition-delay: 0.3s;
}
.container1 .box1:hover .content .h1-1{
    opacity: 1;
    transition: 1.2s;
}
.container1 .box1 .content .h1-1{
    padding-top: 5px;
    padding-bottom: 2px;
    padding-left: 10px;
    color: red;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 18px;
    transition: 0.8s;
    opacity: 0;
}

.container1 .box1 .content .p1-1{
    padding-left: 10px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 13px;
    transition-delay: 0.2s;
    opacity: 1;
}
.container1 .box1:hover .content .black{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(14,14,17,0.9);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    -webkit-transition: all 0.8s;
    transition: all0.8;
    transition-delay: 0.2s;
    opacity: 1;
}
.container1 .box1 .content .black{
    background: rgba(14,14,17,0.9);
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    opacity: 0;
    transition-delay: 0.2s;
    width: 100%;
    height: 100%;
}
.container1 .box1 .content .p1-2{
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    opacity: 0;
    -webkit-transition: all 0.8s;
    transition: all0.8;
}

.container1 .box1:hover .content .box-p1{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.container1 a{
    text-decoration: none;
}
.reklamisadgili{
    background: #262626;
    margin-top: 50px;
    margin-left: 260px;
    width: 1000px;
    height: 300px;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px;
    box-shadow: 0 25px 40px rgba(0, 0, 0,.5);


}

.carousel-caption{
    border-radius: 10px;
    margin-left: 300px;
    margin-bottom: 20px;
    width: 480px;
    height: 100px;
    background: rgba(0, 0, 0,.5);
    opacity: 5;
}
::-webkit-scrollbar{
    width: 0;
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    margin-left: 5px;
    background: #17191d;

}
   
  .box{
    margin-left: 700px;
    width: 800px;
    height: 50px;
  }
  
  .container-2{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  
  .container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    padding-left: 41px;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }
  
  .container-2 input#search::-webkit-input-placeholder {
     color: #65737e;
  }
   
  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
   
  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
   
  .container-2 input#search:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 13px;
    z-index: 1;
    color: #65737e;
  }
  
  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
   
  .container-2:hover input#search{
   width: 300px;
  }
   
  .container-2:hover .icon{
    color: #93a2ad;
  }


.imgg1{
    border: 3px solid #909aa1;
}

.imgg1:hover{
    border: 4px solid red;
    transform: scale(1.05);
    transition: 0.5s;
}
.imgg1{
    border: 3px solid #909aa1;
    transition: 0.5s;
}

.video{
    width: 100%;
}
.c-video {
    height: 100%;
    width: 100%;
    max-width: 900px;
}
